.task-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.task-form input {
    width: 70%;
    height: 40px;
    padding: 0 15px;
}

.task-form button {
    width: 20%;
    height: 44px;
    cursor: pointer;
}