.home-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page a {
    margin: 0 10px;
    padding: 50px 100px;
    /*background-color: #eee;*/
    border: 1px solid #dddddd;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    outline: 0;
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

